 	
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:200,300');

@font-face {
    font-family: 'Iosevka';
    src: url('https://cdn.rawgit.com/kaushalmodi/iosevka-mirror/v1.13.2/woff2/iosevka-ss08-regular.woff2') format('woff2'),
         url('https://cdn.rawgit.com/kaushalmodi/iosevka-mirror/v1.13.2/woff/iosevka-ss08-regular.woff') format('woff');
}

html, body{
    margin:0;
    padding:0;
    font-family: 'Iosevka', 'sans-serif';
    /*overflow:hidden;*/
    background:#000;
    overflow-x: hidden;
}

a{
    color:#FFFFFF;
}


#topHeader{
    width:1920px;
    margin:0 auto;
}

#langSelect{
    position: fixed;
    right: 32px;
    top:10px;
    font-size: 24px;
    color: #FFF;
    background:rgba(0, 0, 0, 0.8);
    z-index: 99;
    padding: 17px 25px;
}

.langSelect .wrappingEN{
    font-size:28px;
}

/* top header area */
#topHeaderArea{
    /* background:#000; */
    color:#FFF;
    position:fixed;
    max-width:1620px;
    margin:0 130px;
    top:0px;
    font-family: 'Iosevka', 'sans-serif';
    line-height:0.8em;
    z-index:10;
    font-size:30px;
    margin-top:10px;
    display:none;
}

    #topHeaderLeft{
        background:rgba(0, 0, 0, 0.8);
        display:block;
        letter-spacing:-0.1em;
        float:left;
        width:208px;
        text-align:left;
        padding:20px;
    }

    #topHeaderLeft:hover{
        background:#222;
        cursor:pointer;
    }

    #topHeaderRight{
        font-family:'Barlow Semi Condensed', sans-serif;
        display:block;
        float:left;
        margin-left:20px;
    }

    #topHeaderRight li{
        background:rgba(0, 0, 0, 0.8);
        padding:10px 20px 14px 20px;
        font-size:24px;
        line-height:44px;
        display:inline-block;
        list-style-type: none;   
    }

   

    #topHeaderRight li:hover{
        background:#222;
        /* color:#000; */
        cursor:pointer;
    }

    #topHeaderRight li a{
        /* color:#FFF; */
        text-decoration: none;
    }

    #topHeaderRight li a:hover{
        /* color:#000; */
        text-decoration: underline;
    }

#container{
    width:1920px;
    margin:0 auto;
}

#p5Container {
    position:fixed;
    /*display:block;*/
    top:0;
    left:50%;
    transform:translate(-50%, 0);
    width:1920px;
    height:840px;
    z-index:-1;
}


#containerHeader{
    color:#FFF;
    letter-spacing:-0.1em;
    position:absolute;
    margin:0 150px;
    /*padding-left:360px;*/
    /*padding:0;*/
    top:640px;
    z-index:3;
    /*padding-left:800px;*/
}
#containerHeader .mainTitle{
    letter-spacing:-0.1em;
    font-size:80px;
    line-height:0.8em;
    z-index:3;
}
#containerHeader .subTitle{
    letter-spacing:-0.1em;
    font-size: 40px;
    display:inline-block;
    font-family:'Noto Sans KR', sans-serif;
    background:#000;
}
#articleHeader{
    position:fixed;
    display:block;
    top:840px;
    margin-top:-100px;
    width:1920px;
    height:200px;
    background-image:url('./data/images/gr.png');
    background-repeat: repeat-x;
    z-index:0;
}

 #articleBodyHalf{
    font-family:'Noto Sans KR', sans-serif;
    position: absolute;
    margin-top: -100px;
    /*display: block;*/
    font-size: 18px;
    padding: 0 0 700px 0;
    color: #FFF;
    z-index: 4;
    max-width:600px;
    top: 840px;
    /*padding-left:360px;*/
    margin:0 150px;
    /* letter-spacing: -0.1em; */
}

#articleBodyHalf .wrappingEN{
    font-size:21px;
}

#articleBodyFull{
    font-family:'Noto Sans KR', sans-serif;
    position: absolute;
    margin-top: -100px;
    /*display: block;*/
    font-size: 28px;
    padding: 0 0 700px 0;
    color: #FFF;
    z-index: 4;
    max-width:1620px;
    top: 1400px;
    margin:0 150px;
}

#articleBodyFull .wrappingEN{
    font-size:32px;
}

.wrappingKR{
    background:rgba(0, 0, 0, 0.75);
    margin-top:30px;
    letter-spacing: -0.1em;
    display:normal;
    line-height:1.3em;
}

.wrappingEN{
    background:rgba(0, 0, 0, 0.75);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    margin-top:30px;
    display:none;
}

.descImageContainer{
    margin:30px -150px 0 -150px;
}

#header_inner{
    font-family: 'Iosevka', 'sans-serif';
    letter-spacing:-0.1em;
    font-size:72px;
    line-height:0.8em;
    z-index:3;
    margin:30px auto;
}

#scatteringLight, #glidingSounds{
    margin-top:100px;
}

#glidingSounds{
    margin-top:800px;
}



#margin{
    height:700px;
}

#youtubeWrapper1{
    position:relative;
    padding-bottom:55.25%;
    padding-top:25px;
    height:0;
    margin-top:30px;
}

#youtubeWrapper1 iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#youtubeWrapper2{
    position:relative;
    padding-bottom:47.25%;
    padding-top:25px;
    height:0;
    margin-top:30px;
}

#youtubeWrapper2 iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
