 	
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:200,300');

@font-face {
    font-family: 'Iosevka';
    src: url('https://cdn.rawgit.com/kaushalmodi/iosevka-mirror/v1.13.2/woff2/iosevka-ss08-regular.woff2') format('woff2'),
         url('https://cdn.rawgit.com/kaushalmodi/iosevka-mirror/v1.13.2/woff/iosevka-ss08-regular.woff') format('woff');
}

html, body{
    margin:0;
    padding:0;
    font-family: 'Iosevka', 'sans-serif';
    /*overflow:hidden;*/
    background:#000;
    overflow-x: hidden;
}

a{
    color:#FFFFFF;
}

#langSelect{
    position:fixed;
    right:48px;
    font-size:24px;
    color:#FFF;
    background:#000;
    z-index:99;
    padding:10px;
}

#langSelect .wrappingEN{
    font-size:28px;
}

#container{
    width:1920px;
    margin:0 auto 0 auto;
}

#p5Container {
    position:fixed;
    /*display:block;*/
    top:0;
    width:1920px;
    height:840px;
    z-index:-1;
}


#containerHeader{
    color:#FFF;
    letter-spacing:-0.1em;
    position:absolute;
    margin:0 150px;
    /*padding-left:360px;*/
    /*padding:0;*/
    top:640px;
    z-index:3;
    /*padding-left:800px;*/
}

#containerHeader .mainTitle{
    letter-spacing:-0.1em;
    font-size:80px;
    line-height:0.8em;
    z-index:3;
}
#containerHeader .subTitle{
    letter-spacing:-0.1em;
    font-size: 40px;
    display:inline-block;
    font-family:'Noto Sans KR', sans-serif;
    background:#000;
}
#articleHeader{
    position:fixed;
    display:block;
    top:840px;
    margin-top:-100px;
    width:1920px;
    height:200px;
    background-image:url('./data/images/gr.png');
    background-repeat: repeat-x;
    z-index:0;
}

 #articleBodyHalf{
    font-family:'Noto Sans KR', sans-serif;
    position: absolute;
    margin-top: -100px;
    /*display: block;*/
    font-size: 18px;
    padding: 0 0 700px 0;
    color: #FFF;
    z-index: 4;
    max-width:600px;
    top: 840px;
    /*padding-left:360px;*/
    margin:0 150px;
    /* letter-spacing: -0.1em; */
}

#articleBodyHalf .wrappingEN{
    font-size:21px;
}

#articleBodyFull{
    font-family:'Noto Sans KR', sans-serif;
    position: absolute;
    margin-top: -100px;
    /*display: block;*/
    font-size: 28px;
    padding: 0 0 700px 0;
    color: #FFF;
    z-index: 4;
    max-width:1620px;
    top: 1400px;
    margin:0 150px;
}

#articleBodyFull .wrappingEN{
    font-size:32px;
}

.wrappingKR{
    background:rgba(0, 0, 0, 0.75);
    margin-top:30px;
    letter-spacing: -0.1em;
    display:normal;
}

.wrappingEN{
    background:rgba(0, 0, 0, 0.75);
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 300;
    margin-top:30px;
    display:none;
}

.descImageContainer{
    margin:0 -150px;
}